@import 'antd/dist/antd.css';

@media only screen and (max-width: 1000px) {
  .ant-layout-content {
    margin-left: 140px !important;
    margin-right: 60px !important;
  }
  .ant-layout-sider-trigger {
    display: none !important;
  }
}

.ant-input-search-button,
.ant-input-affix-wrapper {
  height: 2.8em !important;
}
.ant-input-affix-wrapper {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 16px !important;
}

.ant-input-search-button {
  border-top-right-radius: 16px !important;
  border-bottom-right-radius: 6px !important;
}

.ant-input-group-addon {
  background-color: #f0f2f5;
}

.ant-input-wrapper {
  margin: 1em;
}
