@import 'antd/dist/antd.css';

.ant-input-affix-wrapper {
  border-top-left-radius   : 6px !important;
  border-bottom-left-radius: 16px !important;
}

.ant-input-search-button {
  border-top-right-radius   : 16px !important;
  border-bottom-right-radius: 6px !important;
}